version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: tuesday
  open-pull-requests-limit: 10
  commit-message:
    prefix: "chore(deps)"
    include: "scope"
